<template>
    <div>
        <h2 class="text-light">
            SLACK
        </h2>
        <hr style="border: 1px solid #333">

        <span>
            <img :src="currentUser.photoURL" alt="" class="rounded-circle" height="30">
            <span class="text-light">{{currentUser.displayName}}</span>
        </span>

        <hr style="border: 1px solid #333">

        <button @click="logout" class="btn btn-outline-light">Logout</button>

        <hr style="border: 1px solid #333">

        <channels />

        <hr style="border: 1px solid #333">

        <users />
</div>
            
</template>
<script>
import auth from 'firebase/auth';
import database from 'firebase'
import {mapGetters} from 'vuex';
import Channels from './Channels'
import Users from "./Users"
export default {
    data() {
        return {
            presenceRef: firebase.database().ref('presence')

        }
    },
    components: {Channels, Users},
    methods: {
        logout() {
            this.presenceRef.child(this.currentUser.uid).remove()
            firebase.auth().signOut()
            this.$store.dispatch('setUser', null)
            this.$router.push('/login')
        }
    },
    computed: {
        ...mapGetters(['currentUser'])
    }
}
</script>
<style scoped>


</style>


