<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 sidebar">
                <sidebar />
            </div>
            <div class="col-md-8 content">
                <messages />
            </div>
        </div>
    </div>
</template>
<script>
import auth from 'firebase/auth';
import Sidebar from '../sidebar/Sidebar';
import Messages from '../messages/Messages';
export default {
    components: {Sidebar, Messages}
    
}
</script>
<style scoped>
.sidebar {
    width: 33.5%;
    float: left;
    background: black;
    display: block;
    position: fixed;
    height: 100%;
    padding-top: 2em;
    overflow: scroll;
}

.content {
    width: 66%;
    display: block;
    float: left;
    margin-left: 34%;
}
</style>


