<template>
    <div>
        <div class="jumbotron bg-primary text-white">
            <h2 class="lead display-3">Slack</h2>
            <p>Real time communication</p>
        </div>
        <div class="alert alert-info" v-if="loading">
            Processing....
        </div>
        <div class="alert alert-danger" v-if="hasError">
            <div v-for="error in errors" :key="error.index"> {{ error }}</div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <button @click="loginWithGoogle" class="btn btn-outline-danger btn-lg">Login with google</button>
                </div>
            </div>
             <div class="row mt-5">
                <div class="col text-center">
                    <button class="btn btn-outline-info btn-lg">Login with google</button>
                </div>
            </div>
        </div>
       
    </div>
</template>
<script>
import auth from 'firebase'

export default {

    data() {
        return {
            errors: [],
            loading: false,
            //crei il nodo users nel database
            usersRef: firebase.database().ref('users')
        }
    },
    methods: {
        loginWithGoogle() {
            //loading set to true
            this.loading = true

            //clear errors
            this.errors = [];
            firebase.auth().signInWithPopup(new firebase.auth.GoogleAuthProvider())
            .then((response) => {

                //passing user in database
                this.saveUserToUsersRef(response.user)

                //dispatching actions send user to store 
                this.$store.dispatch('setUser', response.user)

                //redierect user
                this.$router.push('/')
            })
            .catch(error => {
                this.errors.push(error.message);
                this.loading = false;
            })
        },
        //save user to database
        saveUserToUsersRef(user) {
            //con child crei un nuovo nodo che prende il valore dell id e gli setti dentro name e avatar 
            return this.usersRef.child(user.uid).set({
                name: user.displayName,
                avatar: user.photoURL
            })
        }
    },
    computed: {
        hasError() {
            return this.errors.length > 0
        },
        
    },
    
}
</script>

